[submodule "styles/fiord-color-gl-style"]
	path = styles/fiord-color-gl-style
	url = https://github.com/openmaptiles/fiord-color-gl-style.git
[submodule "fonts/Metropolis"]
	path = fonts/Metropolis
	url = https://github.com/chrismsimpson/Metropolis.git
[submodule "fonts/klokantech-gl-fonts"]
	path = fonts/klokantech-gl-fonts
	url = https://github.com/klokantech/klokantech-gl-fonts.git
[submodule "styles/positron-gl-style"]
	path = styles/positron-gl-style
	url = https://github.com/openmaptiles/positron-gl-style.git
[submodule "styles/dark-matter-gl-style"]
	path = styles/dark-matter-gl-style
	url = https://github.com/openmaptiles/dark-matter-gl-style.git
[submodule "styles/osm-bright-gl-style"]
	path = styles/osm-bright-gl-style
	url = https://github.com/openmaptiles/osm-bright-gl-style.git
[submodule "fonts/open-sans"]
	path = fonts/open-sans
	url = https://github.com/FontFaceKit/open-sans.git
